<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
    <mat-panel-title>Media Społecznościowe</mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngFor="let social of socials; last as last" >
        <h3>{{ social.name }}</h3>
        <mat-form-field appearance="fill">
            <mat-label>Link</mat-label>
            <input matInput value="{{ social.href }}">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Icon</mat-label>
            <input matInput value="{{ social.icon }}">
        </mat-form-field> 
    </div>
    <mat-action-row>
        <button mat-raised-button>Dodaj</button>
        <button mat-raised-button>Zapisz</button>
    </mat-action-row>
</mat-expansion-panel>