@use '../../scss/abstract/'  as *;

:host {
    //position: relative;
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 18rem;
    //text-align: center;
}

.fixed {
    background-color: color('white');
    border-right: 1px solid color('black');
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
    width: 18rem;
    height: 100%;
    z-index: 99;
    text-align: center;
}

.title {
    padding: 1.25rem;
    font-size: 1.3rem;
    text-align: center;
}