<button *ngIf="userService.isLogged" class="side-panel-toggle-button" mat-mini-fab color="accent" aria-label="bars" (click)="sidePanelService.isOpened=!sidePanelService.isOpened">
    <i class="fa-solid fa-gear"></i>
</button>
<mat-sidenav-container class="example-container">
    <mat-sidenav [fixedInViewport]="true" [(opened)]="sidePanelService.isOpened">
        <am-side-panel *ngIf="userService.isLogged"></am-side-panel>
    </mat-sidenav>
    <mat-sidenav-content>
        <header>
            <am-navbar></am-navbar>
        </header>
        <main>
            <router-outlet></router-outlet>
        </main>
        <footer>    
            <am-footer></am-footer>
        </footer>
    </mat-sidenav-content>
</mat-sidenav-container>
