.loading {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-panel-toggle-button {
    position: fixed;
    top: 0.5rem;
    left: 0.5rem;
    z-index: 999;
    //opacity: .69;
}
