<mat-sidenav-container class="example-container">
    <mat-sidenav [fixedInViewport]="true" [(opened)]="sidebarOpenned">
        <am-side-panel *ngIf="isUserLogged"></am-side-panel>
    </mat-sidenav>
    <mat-sidenav-content>
        <button *ngIf="isUserLogged" class="side-panel-toggle-button" mat-mini-fab color="accent" aria-label="bars" (click)="sidebarOpenned=!sidebarOpenned">
            <i class="fa-solid fa-gear"></i>
        </button>
        <header>
            <am-navbar></am-navbar>
        </header>
        <main>
            <router-outlet></router-outlet>
        </main>
        <footer>    
            <am-footer></am-footer>
        </footer>
    </mat-sidenav-content>
</mat-sidenav-container>
