<div class="container container--full container--flex">
    <a href="article/{{ article.id }}" class="article" *ngFor="let article of pageSlice">
        <mat-card amMaterialElevation [ngClass]="{ draft: article.is_draft }">
            <mat-card-header>
                <mat-card-title>{{ article.title }}</mat-card-title>
                <mat-card-subtitle *ngIf="article.is_draft">Szkic - niepubliczny artykuł</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{ article.thumbnail }}" alt="thumbnail">
            <mat-card-content>{{ article.excerpt }}</mat-card-content>
        </mat-card>        
    </a>

    <mat-paginator class="paginator" [length]="articles.length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        aria-label="Select page">
    </mat-paginator>
</div>

