$colors: (
  'black': #111111,
  'white': #FAFAFA,

  'primary': #7A9EC4,
  'accent': #C4A879,
  'warn': #F44336,
  'success': #198754,
);

$container-width: 62rem;

$breakpoints: (
  'small': 48rem,
  'medium': 64rem,
  'large': 75rem
);