@use 'scss/abstract' as *;

@import 'scss/normalize';
@import 'scss/reset';

// fontawesome
@import "fontawesome/scss/fontawesome.scss";
@import "fontawesome/scss/brands.scss";
@import "fontawesome/scss/regular.scss";
@import "fontawesome/scss/solid.scss";

// Material Custom Theme
@import "scss/material-theme";

.container {
    margin: 0 auto;
    max-width: $container-width;

    &--full {
      max-width: 100%;
    }
  
    &--flex {
      display: flex;
  
      flex-basis: inherit;
      flex: inherit;
      flex-direction: inherit;
      flex-wrap: inherit;
      flex-flow: inherit;
      justify-content: inherit;
      align-items: inherit;
      align-content: inherit;
    }
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: color('white');
    color: color('black');
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

main {
  display: flex;
  min-height: 100vh;
}

// .error-form {
//   margin: 1rem;
//   padding: 1rem;
//   border: 1px solid color('warn');
//   color: color('warn');
// }

// .success-form {
//   margin: 1rem;
//   padding: 1rem;
//   border: 1px solid color('success');
//   color: color('success');
// }

// Notification
.error.mat-snack-bar-container {
  background-color: color('warn');
  color: color('white');
  white-space: pre-wrap;
}

.success.mat-snack-bar-container {
  background-color: color('success');
  color: color('white');
  white-space: pre-wrap;
}

// Article
$heading-scale: 0.3;
@for $i from 1 through 6 {
    h#{$i} {
        font-size: 0.6rem + $heading-scale * (6 - $i);
        font-weight: bold;
    }
}

b {
  font-weight: 700;
}

i {
  font-style: italic;
}

.ce-block__content, .ce-toolbar__content {
  max-width: calc(100% - 120px) !important;
}

.cdx-block {
  max-width: 100% !important;
}

.tc-cell:first-child {
  border-left: 1px solid var(--color-border);
}

.article {
  --color-border: #e8e8eb;

  padding: 0 60px;

  .caption {
    margin-top: 7px;
  }

  > * {
      padding: .4em 0;
  }
}