@use 'abstract' as *;

@use '@angular/material' as mat;
@include mat.core();

$primary: mat.define-palette($md-primary, 500);
$accent: mat.define-palette($md-accent, 500);

// The warn palette is optional (defaults to red).
$warn: mat.define-palette($md-warn);

$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  )
));

@include mat.all-component-themes($theme);