<div *ngIf="!article.is_draft" class="draft" >Szkic</div>

<button mat-raised-button type="button" class="save-button" color="primary" (click)="editorSave()">Zapisz <mat-progress-bar *ngIf="articleService.isSaving" class="progress-bar" mode="indeterminate" color="primary"></mat-progress-bar></button>
<button *ngIf="article.is_draft" mat-raised-button type="button" class="publish-button" color="primary" (click)="publish()">Publikuj</button>
<button *ngIf="!article.is_draft" mat-raised-button type="button" class="publish-button" color="primary" (click)="unpublish()">Cofnij publikacje</button>

<div id="editor-js"></div>