<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
    <mat-panel-title>Opcje</mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngFor="let option of options">
        <h3>{{ option.name }}</h3>
        <mat-form-field appearance="fill">
            <mat-label>Value</mat-label>
            <input matInput value="{{ option.value }}">
        </mat-form-field>
    </div>
    <mat-action-row>
        <button mat-raised-button>Dodaj</button>
        <button mat-raised-button>Zapisz</button>
    </mat-action-row>
</mat-expansion-panel>