<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
    <mat-panel-title>Opcje</mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="form" (ngSubmit)="formSubmit()">
        <div formArrayName="options">
            <div [formGroupName]="i" *ngFor="let optionControl of optionFormArray.controls; let i = index">
                <mat-form-field appearance="fill">
                    <mat-label>{{ optionControl.value.name }}</mat-label>
                    <input matInput formControlName="value">
                </mat-form-field>
            </div>
        </div>
        <mat-action-row>
            <button type="submit" mat-raised-button>Zapisz</button>
        </mat-action-row>
    </form>
</mat-expansion-panel>